<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Home</title>
    </head>

    <body>
        <header class="header-interno">
            <div class="Logo-interno">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="45" viewBox="0 0 41 55" fill="none">
                    <path d="M39.5958 0.633458C39.2773 0.366233 38.9015 0.175934 38.4976 0.0773044C38.0937 -0.0213247 37.6725 -0.0256348 37.2667 0.0647084L15.6 5.48138C14.9991 5.62966 14.4671 5.97929 14.0926 6.47207C13.7181 6.96484 13.5236 7.57103 13.5417 8.18971V36.221C12.2762 35.6029 10.8875 35.2788 9.47917 35.273C7.60437 35.273 5.77167 35.829 4.21283 36.8706C2.65399 37.9122 1.43902 39.3926 0.721563 41.1247C0.00410718 42.8568 -0.183612 44.7627 0.182144 46.6015C0.547899 48.4403 1.4507 50.1293 2.77639 51.455C4.10207 52.7807 5.7911 53.6835 7.62988 54.0492C9.46866 54.415 11.3746 54.2273 13.1067 53.5098C14.8388 52.7924 16.3192 51.5774 17.3608 50.0185C18.4024 48.4597 18.9583 46.627 18.9583 44.7522V23.8439L38.5667 19.023H38.7562L39.2708 18.6168L39.6771 18.346C39.8086 18.2235 39.9266 18.0873 40.0292 17.9397C40.1348 17.8152 40.2257 17.6789 40.3 17.5335C40.382 17.3816 40.437 17.2166 40.4625 17.046C40.4908 16.8756 40.4908 16.7017 40.4625 16.5314C40.4746 16.4597 40.4746 16.3864 40.4625 16.3147V2.77304C40.4846 2.37458 40.4184 1.97617 40.2685 1.60629C40.1187 1.23641 39.889 0.904214 39.5958 0.633458ZM9.47917 48.8147C8.67568 48.8147 7.89024 48.5764 7.22217 48.13C6.55409 47.6837 6.03339 47.0492 5.72591 46.3069C5.41843 45.5645 5.33798 44.7477 5.49473 43.9597C5.65148 43.1716 6.0384 42.4477 6.60655 41.8796C7.1747 41.3114 7.89857 40.9245 8.68662 40.7678C9.47466 40.611 10.2915 40.6915 11.0338 40.9989C11.7761 41.3064 12.4106 41.8271 12.857 42.4952C13.3034 43.1633 13.5417 43.9487 13.5417 44.7522C13.5417 45.8296 13.1137 46.863 12.3518 47.6248C11.5899 48.3867 10.5566 48.8147 9.47917 48.8147ZM35.2083 14.2022L18.9583 18.2647V10.3022L35.2083 6.23971V14.2022Z" fill="white"/>
                </svg>
                <h1 class="titulo-logo">Genérico Music</h1>
            </div>
            <form action="/logout" method="POST" class="sair">
                <button type="submit" class="btn-sair">Sair</button>
            </form>
        </header>
        <main class="main-home">
            <h1 class="h1-home">Bem-vindo, <%= user.email %>!</h1>
            <ul>
                <% if (opMusicas.length > 0) { %>
                    <% opMusicas.forEach((user) => { %>
                        <div class="tabela-home">
                            <div class="titulos-tabela">
                                <div class="musica">
                                  <p>Música</p>  
                                </div>
                                <div class="cantor">
                                 <p>Opinião</p>   
                                </div>
                                <div class="vazio"></div>
                            </div>
                            <div class="line-titulos"></div>
                            <div class="itens-tabela">
                                <li><%= user.nameMusica %> - <%= user.nameCantor %></li>
                                <hr class="hr-itens">
                                <p class="op"><%= user.opiniao %></p>
                                <a href="/update/<%= user.id %>"><button class="btn-att">Atualizar</button></a>
                                <form action="/delete/<%= user.id %>" method="POST">
                                    <button type="submit" class="btn-del">Deletar</button>
                                </form>
                            </div>
                            <div class="line"></div>
                        </div>
                        
                    <% }); %>
                <% } else { %>
                    <p class="subtitulo-home">Vimos que você ainda não tem nenhuma opinião musical cadastrada, clique aqui e adicione-as!</p>
                <% } %>
            </ul>
            
            <a href="/add"><button class="btn-home">Adicionar</button></a>
        </main>
        
    </body>

</html>